body {
  background: linear-gradient(144.34deg, #3d4c72 20.89%, #1c243e 90.15%);
  background-image: url(https://images.pexels.com/photos/15328421/pexels-photo-15328421/free-photo-of-clouds-and-fog-over-forest.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  color: #0f0f0f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  display: block;
  font-size: 30px;
  margin-top: 32px;
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #596e79;
}

a:hover {
  text-decoration: none;
  color:white;
}

a:active {
  font-weight: 600;
}

footer {
  margin: 32px;
  font-size: 12px;
  color: #596e79;
  
  text-align: center;

}




.weather-app-wrapper {
  max-width: 800px;
  margin: 50px auto;
}
.form-control {
  max-width: 700px;
  margin: 30px auto;
  width: 500px;
  float: left;
  margin-top: 0px;
}

.weather-app {
  padding: 50px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: rgba(248, 245, 245, 0.6);
}

.overview {
  margin-bottom: 20px;
}

.overview {
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  color: white;
  background: linear-gradient(
    168.44deg,
    rgba(46, 51, 90, 0.26) 1.62%,
    rgba(28, 27, 51, 0.26) 95.72%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #4e2c8b;
}
.btn {
  color: white;
  background-color: #212121;
  border-color: #0f0f0f;
  width: 100px;
  float: right;
  margin-top: 0px;
}
#icon {
  text-align: center;
  max-width: 250px;
  height: 170px;
  display: block;
  margin: 0px auto -20px;
}
#date {
  display: block;
  color: #596e79;
  font-weight: 600;
  margin-bottom: 25px;
 
  
}
#description {
  display: block;
  margin: 0px auto;
  text-align: center;
  font-family: "Abel";
  font-size: 22px;
  color: black;
}
#humidity {
  text-align: center;
  flex-basis: 50%;
  font-family: "Abel";
  font-size: 18px;
  color: #727C88;
  margin: 10px auto;
}
#wind {
  text-align: right;
  flex-basis: 50%;
  font-family: "Abel";
  font-size: 18px;
  color: #727C88;
  margin: 10px auto;
}
.temperature {
  font-size: 100px;
  color: #727C88;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  text-align: center;
}

.weather-temperature .units {
  position: relative;
  font-size: 50px;
  top: 100px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-align: center;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
